/*GENERAL STYLE OF THE WEBSITE */
html, body, form, main {
    height: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    background: rgb(236,255,255);
    background:linear-gradient(to right,rgb(236,255,255),lightblue );
  }

h1,h2,h3,h4,h5,h6 {
  font-weight: 500;
}
footer > *{
    font-size: smaller;
}
footer a{
    color: lightcyan;
}
/*header bg image and style*/

header{
    
    width: 100%;
    height: 80%;
    background-size: cover;
    background-repeat: no-repeat;
}
header h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 50px;
    background-color: white;
    font-family:lato,Verdanda, Geneva, sans-serif;
}

html {
    font-size: 1rem;
  }
  



/*prevent toggle icon from stacking with logo*/
a.navbar-brand {
    display: contents;
  }



@font-face {
    font-family: lato;
    /*font from google fonts lato*/
    src: url(../fonts/Lato-Regular.ttf);
  }


/*paragraph style*/
p,figcaption{
    font-size: 20px;
}
/*reducing size of image*/


.card {
    border:2px solid black;
}





nav img {
    max-width: 13%;
    height: auto;
}

/*https://kayako.com/blog/the-proper-way-to-ask-for-customer-feedback/*/
header{
    
    background-image: url("http://localhost:3001/images/code_bg.jpg");
}

